.nav-header {
    display: flex;
    justify-content: center;  /* Centers the items horizontally */
    align-items: center;  /* Centers the items vertically */
    border-bottom: 1px solid #e3e7e7;
    height: 80px;
}  

.nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    justify-content: center;  /* Centers the items horizontally */
}

.nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 50px;
    justify-content: center;  /* Centers the items horizontally */
}

.nav-buttons {
    border-radius: 25px;
    text-decoration: none;
    display: flex;
    list-style: none;
    margin: 0;
    padding-left: 25px;
    padding-right: 25px;
    justify-content: center;
}

.material-icons {
    font-size: 30px;
    color: #363537;
}


